<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    
    <div style="margin:50px 60px">
        <h1 style="text-align: center;">아만닥</h1>
        <p style="text-align: center;">
        죄송합니다. 현재 페이지는 없는 페이지입니다.</p><a href='/'>메인으로</a>
    </div>
</body>
</html>